<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="/css/home.css" type="text/css" rel="stylesheet"/>

  <title>Lizzy Autos</title>
</head>
<body>

<header>

  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Lizzy Autos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/backEndCover">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="car">Cars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="customer">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="salesRep">Sales Representatives</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="salesInvoice">Sales Invoices</a>
          </li>


          <li class="nav-item">
            <a class="nav-link text-white" href="user">Users</a>
          </li>
        </ul>
        <div>
          <a th:href="@{/logout}" class="btn btn-primary btn-sm mb-3"> Logout </a>
        </div>
      </div>
    </div>
  </nav>
</header>


<div class="container my-2">
  <h1>List of Users</h1>


  <table class="table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>ID</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Email</th>
      <th>Role</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${listUsers}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.firstName}"></td>
      <td th:text="${user.lastName}"></td>
      <td th:text="${user.email}"></td>
      <td class="px-3" th:each="role : ${user.roleSet}">
        <span th:text="${role.name.split('_',2)[1]}" ></span></td>

      <td><a th:href="@{/updateRole/{id}(id=${user.id})}"
             class="btn btn-primary">Update</a>
        <a th:href="@{/deleteUser/{id}(id=${user.id})}"
           class="btn btn-danger">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="container my-2">
  <a th:href="@{/logout}" class="btn btn-primary btn-sm mb-3"> Log out </a>
</div>

<script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>

</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

</body>
</html>